body {
    text-align: center;
    padding: 10px;
    background-color: rgb(118, 174, 211);
}

table {
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    width: 500px;
    height: 800px;
    background-color: rgb(104, 72, 248);
    border: cornflowerblue 4px solid;
}

.table-title {
    font-family: cursive;
}

pre {
    font-size: xx-large;
}


.cell {
    width: 38px;
    height: 30px;
    background-color:darkgray;
    border: rgb(214, 214, 214) 4px solid;
} 

.cell:hover {
    cursor: pointer;
}

.under-cell{
    width: 38px;
    height: 30px;
    background-color:rgb(145, 145, 145);
    border: rgb(97, 97, 97) 4px solid;
}

button {
    margin-top: 7px;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
    background-color: rgb(155, 224, 64);
    border: whitesmoke 2.5px solid;
    font-family: cursive;
}

button:hover {
    cursor: pointer;
    font-family: cursive;
    background-color: rgb(105, 182, 4);
}

.lives{
    margin-top: 10px;
    border-radius: 3px;
    margin-right: 5px;
    color: red;
    font-size: 2em;
}

.level {
    border-radius: 50%;
    border: whitesmoke 2.5px solid;
    background-color: rgb(155, 224, 64);
    margin-left: 5px;
}

.level:hover {
    background-color: rgb(105, 182, 4);
}

.timer {
    color: red;
    text-shadow: 2px 2px rgb(116, 41, 41);
    border: 3px rgb(231, 227, 227) solid;
    padding: 5px;
    background-color: black;
}

.score{ 
    color: red;
    text-shadow: 2px 2px rgb(116, 41, 41);
    border: 3px rgb(231, 227, 227) solid;
    padding: 5px;
    background-color: black;
}

.smily-start{               
    font-size: 1em;
    background-color: rgb(104, 72, 248);
    border: rgb(104, 72, 248);
}

